@charset "utf-8";
/* CSS Document */

*{
	box-sizing: border-box;
}
body{
	margin: 0;
	font-family: 'raleway',sans-serif;
	text-align: center;
	
}

img{
	max-width: 100%;
	height: auto;
}

.container{
	width:100%;
	margin: 0 auto;
}

h1{
	font-weight: 300;
	font-size: 2.5rem;
}

.title{
	font-size: 2.5rem;
}

.title span{
	font-weight: 300;
	display: block;
	font-size: .9em;
}

@media (min-width: 55rem){
	.title{
		font-size:3.7rem;
	}
}
.button{
	font-size: 1.5rem;
	text-decoration: none;
	text-transform: uppercase;
	border-width: 2px;
	border-style: solid;
	padding: .5em 1.75em;
}

.button-accent{
	color: #00ff6c;
}

.button-accent:hover,
.button-accent:focus{
	background: #00ff6c;
	color: #232323
}
header{
	position:absolute;
	left: 0;
	right: 0;
	margin-top: 1em;
}

header img{
	float: left, inline start;
}
nav ul{
	margin:0;
	padding:0;
	list-style: none;
}
nav li{
	display: inline-block;
	margin: 1em;
}

nav a{
	font-weight:900;
	text-decoration: none;
	text-transform: uppercase;
	font-size: .8rem;
	padding: .5em;
	color: #FFF
}

nav a:hover,
nav a:focus{
	color: #842729
}

.homepage{
	background: url(https://s-media-cache-ak0.pinimg.com/originals/72/5e/8c/725e8cb3f1888411fbb6360d246c3275.jpg)fixed;
	background-size: cover;
	color: #FFF;
	padding: 15em 0;
}

	
footer {
	padding: 1em;
	background: #626262;
	height:10em;
	color:goldenrod;
}
footer .footer-stuff .col-3 {
	float:left;
	text-align: center;
}
footer ul li{
	list-style-type: none;
	float:none;
	text-align: left;
	color:darkkhaki;
}
footer ul li a{
	color:antiquewhite;
	text-decoration: none;
}

.fishworld{
	background: url(https://secure.static.tumblr.com/8bde956eb88dfac2a5ee6f953447071b/5fuervi/fWGonm44q/tumblr_static_tumblr_static_filename_640.gif) fixed;
	background-size: cover;
}

.about{
	background-color: #1A1A1A;
	color:antiquewhite;
	margin: 0;
}

#box{
	border: dotted;
	border-color: chartreuse;
	margin-right: 150px;
	margin-left: 150px;
}

.slider{
	overflow: hidden;
	height: 350px;
}

.slider figure div{
	width: 20%;
	float: left;
}

.slide figure img{
	width: 50%;
	float: left;
}

.slider figure{
	position: relative;
	width: 500%;
	margin: 0;
	left:0;
	animation: 10s slidy infinite;
}

@keyframes slidy{
	0%{
		left: 0%
	}
	
	22%{
		left: 0%
	}
	
	48%{
		left: -100%;
	}
	
	78%{
		left: -100%;
	}
	
	94%{
		left: 0%;
	}
	
	96%{
		left: 0%;
	}
}

.events{
	background:#898989;
	background-size: cover;
	padding: 40px;
}