footer {
	padding: 1em;
	background: #626262;
	height:10em;
	color:goldenrod;
}
footer .footer-stuff .col-3 {
	float:left;
	text-align: center;
}
footer ul li{
	list-style-type: none;
	float:none;
	text-align: left;
	color:darkkhaki;
}
footer ul li a{
	color:antiquewhite;
	text-decoration: none;
}@charset "utf-8";
/* CSS Document */

*{
	box-sizing: border-box;
}
body{
	margin: 0;
	font-family: 'raleway',sans-serif;
	text-align: center;
	background: #FFFFFF;
}

img{
	max-width: 100%;
	height: auto;
}

.container{
	width:95%;
	margin: 0 auto;	
}

div p2 strong{
	color: mediumpurple;
}
#fish1{
	margin-top:180px;
	left: 100em;
}
h1{
	font-weight: 300;
	font-size: 2.5rem;
}

.title{
	font-size: 2.5rem;
}

.title span{
	font-weight: 300;
	display: block;
	font-size: .9em;
}

@media (min-width: 55rem){
	.title{
		font-size:3.7rem;
	}
}

.button{
	font-size: 1.5rem;
	text-decoration: none;
	text-transform: uppercase;
	border-width: 2px;
	border-style: solid;
	padding: .5em 1.75em;
}

.button-accent{
	color: #00ff6c;
}

.button-accent:hover,
.button-accent:focus{
	background: #00ff6c;
	color: #232323
}
header{
	position:absolute;
	left: 0;
	right: 0;
	margin-top: 1em;
	background:#292828;
	margin: 0;
	opacity: 0.8;
}

header img{
	float: left, inline start;
}
nav ul{
	margin:0;
	padding:0;
	list-style: none;
}
nav li{
	display: inline-block;
	margin: 1em;
}	

nav a{
	font-weight:900;
	text-decoration: none;
	text-transform: uppercase;
	font-size: .8rem;
	padding: .5em;
	color: #FFF
}

nav a:hover,
nav a:focus{
	color: #842729
}

.homepage{
	background: url(background6.jpg) fixed;
	color: #FFF;
	padding: 15em 0;
	background-size: cover;
}

	
footer {
	padding: 1em;
	background: #626262;
	height:10em;
}
footer .footer-stuff .col-3 {
	float:left;
}
footer ul li{
	list-style-type: none;
	float:none;
}
footer ul li a{
	text-decoration: none;
	color: yellow;
}
.title-1{
	font-size: 36px;
	color: saddlebrown;
}

.content{
	font-size: 20px;
}

.content ul li{
	list-style-type: none;
}
@media(min-width: 500px){
	#maps{
		margin-left: 250px;
	}
}
#maps{
	margin-left: 1000px;
}

#fish1 img{
	text-emphasis-position: above;
}