@charset "utf-8";
/* CSS Document */

body{
	margin: 0;
	font-family: 'raleway',sans-serif;
	text-align: center;
}
header{
	position:sticky;
	left: 0;
	right: 0;
	margin: 0;
	background:#292828;
	opacity: 0.85;
}

header img{
	float: left, inline start;
}
nav ul{
	margin:0;
	padding:0;
	list-style: none;
}
nav li{
	display: inline-block;
	margin: 1em;
}

nav a{
	font-weight:900;
	text-decoration: none;
	text-transform: uppercase;
	font-size: .8rem;
	padding: .5em;
	color: #FFF
}

nav a:hover,
nav a:focus{
	color: #842729
}
section{
	text-align:center;
	padding: 10px
}

section ul li{
	list-style: none;
}

footer {
	padding: 1em;
	background: #626262;
	height:10em;
	color:goldenrod;
}
footer .footer-stuff .col-3 {
	float:left;
	text-align: center;
}
footer ul li{
	list-style-type: none;
	float:none;
	text-align: left;
	color:darkkhaki;
}
footer ul li a{
	color:antiquewhite;
	text-decoration: none;
}

.button{
	font-size: 1.5rem;
	text-decoration: none;
	text-transform: uppercase;
	border-width: 2px;
	border-style: solid;
	padding: .5em 1.75em;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal2 {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content2 {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close2 {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close2:hover,
.close2:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
